html {
  font-family: "Avenir Next", Helevetica, sans-serif;
}

body {
  max-width: 500px;
  margin: 0 auto;
}

input {
  width: 10rem;
  height: 4rem;
  font-size: 3rem;
  border: 0;
}

input:focus {
  outline: none;
}

li {
  text-align: left;
  font-size: 2rem;
  list-style: none;
  margin: 0;
}
